<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
<meta charset="utf-8"/>

    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}"/>
    <!--<script type="text/javascript" th:src=@{"/webjars/jquery/jquery.min.js"}></script>
      <script type="text/javascript" th:src=@{"/webjars/bootstrap/js/bootstrap.min.js"}></script>
      <link rel="stylesheet" th:href=@{"/webjars/font-awesome/css/font-awesome.min.css"}></link>-->

<title>List Produit </title>
</head>
<body>
<div class="container">
<h3 >Listes des Produits</h3>
    <div class="container">
        <form th:action="@{index}" method="get">
            <label> Mot Clé </label>
            <input type="text" name="motCle" th:value="${motCle}"/>
            <button class="btn btn-primary">Chercher</button>
        </form>

    </div>

<table class="table table-responsive">
    <thead>
       <tr>
        <th>Id</th><th>Nom Produit</th><th>Description</th><th>Designation</th>
        <th>Prix</th><th>Quantité</th><th>Email</th><th>Date</th><th>Delete</th>
       </tr>
    </thead>
    <tbody>
        <tr th:each="p:${listProducts}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.nom}"></td>
            <td th:text="${p.description}"></td>
            <td th:text="${p.designation}"></td>
            <td th:text="${p.prix}"></td>
            <td th:text="${p.quantite}"></td>
            <td th:text="${p.email}"></td>
            <td th:text="${p.date}"></td>

            <td><a th:href="@{delete(id=${p.id},page=${pageCourant},size=${size},motCle=${motCle})}"
                    onclick="confirm('Etes vous sure de vouloir supprimer?..')">
                <button class="btn btn-danger">Delete</button></a></td>
        </tr>
    </tbody>

</table>
   <ul class="container container-fluid nav nav-pills">
       <li th:class="${pageCourant}==${status.index}?'active':''" th:each="pa,status:${pages}">
           <a th:href="@{index(page=${status.index},size=${size},motCle=${motCle})}" th:text="${status.index}"> </a>
       </li>

   </ul>

</div>
</body>
</html>
